<div id="navbar">
  <ul>
    <li class="<%= 'active' if current_page == 'about' %>" id="<%= 'info' if current_page == 'about' %>">
      <%= link_to 'Info', '/about.html' %>
    </li>
    <li class="<%= 'active' if current_page == 'projects' %>" id="<%= 'projects' if current_page == 'projects' %>">
      <%= link_to 'Projects', '/projects.html' %>
    </li>
  </ul>
</div>
