<div id="navbar">
  <ul>
    <li class="<%= 'active' if current_page == 'info' %>" id="<%= 'info' if current_page == 'info' %>">
      <%= link_to 'Info', '/info' %>
    </li>
    <li class="<%= 'active' if current_page == 'projects' %>" id="<%= 'projects' if current_page == 'projects' %>">
      <%= link_to 'Projects', '/projects' %>
    </li>
  </ul>
</div>
