<div id="box">
  <div id="subheader">
    <h2>Web Developer</h2>
  </div>
  <%= partial "partials/navbar", locals: { current_page: 'projects' } %>
  <%= partial "partials/socials" %>
  <div class="projects-section">
    <div class="wrapper">
      <div class="container">
        <% data.projects.each_with_index do |project, i| %>
          <input type="radio" name="slide" id="c<%= i + 1 %>">
          <label for="c<%= i + 1 %>" class="card card-<%= i + 1 %>">
            <div class="row">
              <div class="icon"><%= i + 1 %></div>
              <div class="description">
                <div class="card-title">
                  <h4><%= project.name %></h4>
                  <%= link_to "Live Demo", project.url, target: "_blank", rel: "noopener" %>
                </div>
                <p><%= project.description %></p>
                <div class="tech-tags">
                  <% ["Ruby on Rails", "Stimulus", "Mapbox", "PostgreSQL"].each do |tech| %>
                    <span><%= tech %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </label>
        <% end %>
      </div>
    </div>
  </div>
</div>
